<!-- The asciinema stuff -->

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/asciinema-player.css" />
<script src="{{ site.baseurl }}/assets/js/asciinema-player.min.js"></script>
<script>
function A0S_asciinema_play(name) {
	AsciinemaPlayer.create(
			'{{ site.baseurl }}/assets/asciinema/PowerSession/'+name+'.cast'
			, document.getElementById( name )
			, {
				theme: 'asciinema'
				<!-- , loop: true -->
				, preload: true
				<!-- , autoPlay: true -->
				, controls: "auto"
				, startAt: 4
				<!-- , fit: 'width' -->
				<!-- , cols: 127 -->
				<!-- , rows: 30 -->
				<!-- , poster: "data:text/plain,I'm regular \x1b[3B click to replay console command'" -->
				, poster: "data:text/plain,click to replay console command"
			}
		);
}
</script>
